form#add-activity(@submit="addActivity")
  .row
    label(for='summary') Activity Summary
    input#summary(type='text', name='summary', v-model='newActivity.summary', placeholder='What did you do today?', required)
  .row
    label(for='description') Activity Description
    textarea#description(placeholder='Why?', v-model='newActivity.description')
  .row
    label(for='startTime') Start/End Times (optional)
    input#startTime(type='text', v-model='newActivity.startTime', placeholder='9:10 AM')
    input#endTime(type='text', v-model='newActivity.endTime', placeholder='1:00 PM')
    button.button-primary.right Add
    